#Variables de entorno para aplicacion
DB_DATABASE=""
DB_HOST=""
DB_USER=""
DB_PASSWORD=""
DB_PORT=""

#----API-----
BACK_PORT=""
JWT_SECRET=""
JWT_EXPIRES_IN=""

#----FRONT-----
VITE_API_URL=""
FRONT_PORT=""

